<main id="comment-form-page">
  <div id="form-container">
    <h1>Add a Comment</h1>

    <%= form_with model: [:user, :post, @comment], data: { turbo: false }, local: true do |f| %>
    <div>
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: name %>
      <% end %>
      <div class="post-inputs">
      <%= f.label :text, "Comment" %>
      <%= f.text_area :text, resize: "none", required: true, placeholder: "Enter your comment" %>
      </div>
      <%= f.submit "Add Comment" %>
    </div>
    <% end %>
  </div>
</main>
