<section class="user-profile">
  <section class="user-details">
    <h2 class="user-name"><%= @user.name %></h2>
    <%= render partial: "users/user_info", locals: { user: @user } %>
  </section>

  <section class="user-bio">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </section>

  <section class="recent-posts">
    <h3>Recent Posts</h3>
    <ul>
      <% @user.recent_posts.includes(:comments, :author).each do |post| %>
        <li class="post-item">
            <%= link_to "/users/#{@user.id}/posts/#{post.id}", id: "post" do %>
             <%= render partial: "posts/post_info", locals: { post: post } %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "See all posts", "/users/#{@user.id}/posts?page=1", class: "see-all-posts" %>
  </section>
</section>
