<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Blog App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "style", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>
    </head>
    <body>
       
      <div id = "container">
        <%= yield -%>
      </div>
        
        <script src="" async defer></script>
    </body>
</html>